@import url('https://fonts.googleapis.com/css?family=Lato:Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background: #FFF;
}

.imghrs{
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
}

.hours{
  font-family: Lato;
  font-size: 150%;
}

.SushiTab{
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: Lato;
}

.SushiTab p{
  font-size: 80%;
}

.nav{
  position: relative;
}

.nav li {
    /* float: left; */
    display: inline-block;
    bottom: 0;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

.nav li a{
  display: block;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  font-family: Lato;
  background-color: white;
}

.navwrap{
  background-color: #B22222;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* width: 100vw; */
}

.menu-back{
  background: rgba(255, 255, 255, .85);
  padding: 5%;
  width: 80vw;
  border-radius: 20px;
}

.menu-title{
  font-family: Open Sans;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 200;
  margin-top: 0px;
}

.menu{
  font-family: Open Sans;
}

.menu ul{
  margin: 0px;
  padding: 0px;
}

.menu p{
  margin: 0px;
}

.menu li{
  padding-top: 10px;
}

body{  
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu-background{
  background-image:url(./pictures/backgrounds/wall2.jpg);

  background-repeat:no-repeat;

  background-size:cover;
  
  background-position: center center;

  background-attachment: fixed;
  background-color: #464646;

  display: flex;
  padding: 20px;
  align-content: center;
  justify-content: center;
}

