@import url('https://fonts.googleapis.com/css?family=Lato:Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  background: #FFF;
}

.imghrs{
  /* display: flex; */
  height: 100vh;
  width: 100vw; 
  background-image: url("https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Izakaya-1-1024x683.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;

  font-size: 9vw;
}

li{
  list-style: none;
}

.hours{
  font-family: Lato;
  font-size: 150%;
  display: inline-block;
  width: 50vw;
  padding: 0;
}

.nav{
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav li {
    display: inline-block;
    bottom: 0;
    margin-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
    font-family: Montserrat;
}

.nav li a{
  display: block;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  /* font-size: 1vw; */
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

.nav li a:hover{
  background-color: #464646;
  color:white;
  transition-duration: 300ms;
}

.navwrap{
  background-color: #B22222;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* width: 100vw; */
}

.menu-back{
  background: rgba(255, 255, 255, .85);
  padding: 5%;
  width: 80vw;
  border-radius: 20px;
}

.menu-title{
  font-family: Open Sans;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 200;
  margin-top: 0px;
}

.menu{
  font-family: Open Sans;
}

.menu ul{
  margin: 0px;
  padding: 0px;
}

.menu p{
  margin: 0px;
}

.menu li{
  padding-top: 10px;
}

body{  
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

.menu-background{
  background-image:url(./pictures/backgrounds/wall2.jpg);

  background-repeat:no-repeat;

  background-size:cover;
  
  background-position: center center;

  background-attachment: fixed;
  background-color: #464646;

  display: flex;
  padding: 20px;
  align-content: center;
  justify-content: center;
}

.footer{
  background-color: #464646;
  height: 10vh;
  color: white;
  display: table;
  width: 100vw;
}

.footer p{
  color: white;
  text-align: center;
  /* height: 10vh; */
  display: table-cell;
  vertical-align: middle;
  font-family: Lato;
  
}